<?xml version="1.0"?>
<configuration>
  <appSettings />
  <connectionStrings />
  <system.web>
    <compilation debug="true">
    </compilation>

    <httpHandlers>
      <add path="*.coffee" type="DotSmart.CoffeeScriptHandler, LessCoffee" verb="*" validate="false"/>
      <add path="*.less" type="DotSmart.LessCssHandler, LessCoffee" verb="*" validate="false"/>
    </httpHandlers>

    <caching>
      <outputCacheSettings>
        <outputCacheProfiles>
          <!-- 1 year = 31536000 secs -->
          <add name="LessCoffee" duration="31536000" location="Any" varyByParam="*" />
        </outputCacheProfiles>
      </outputCacheSettings>
      <outputCache omitVaryStar="true" />
    </caching>

  </system.web>

  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add path="*.coffee" type="DotSmart.CoffeeScriptHandler, LessCoffee" verb="*" name="DotSmart.CoffeeScriptHandler"/>
      <add path="*.less" type="DotSmart.LessCssHandler, LessCoffee" verb="*" name="DotSmart.LessCssHandler"/>
    </handlers>
  </system.webServer>

</configuration>
